.container {
	display: grid;
	grid-template-columns: auto 1fr;
	background-image: url('../../../assets/clarence.svg');
	animation: Heading 15s infinite ease-in-out;
	border-radius: 10px;
	text-align: end;
	padding: 10px;
}

.heading {
	font-size: 40px;
	color: rgb(241, 241, 241);
	font-weight: bolder;
	text-shadow: 4px 4px 1px rgba(0, 0, 0, 0.6);
}

@keyframes Heading {
	0% {
		background-size: 1000px;
	}
	50% {
		background-size: 3000px;
	}
	100% {
		background-size: 1000px;
	}
}
