.carousel {
	margin: 100px 0px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
	gap: 70px 20px;
	justify-items: center;
}
.container {
	position: relative;
	cursor: pointer;
}
.container-header {
	position: relative;
	transition: background 0.2s linear, transform 0.2s ease-out,
		opacity 0.1s linear, box-shadow 0.1s;
	cursor: pointer;
	justify-items: center;
	padding: 5px;
	padding-top: 0px;
	min-height: 270px;
	max-width: 300px;
	height: fit-content;
	width: fit-content;
	font-weight: 400;
	border-radius: 20px;
	font-size: 14px;
	line-height: 14px;
	/* background-color: var(--green-light); */
	background-color: var(--back);
	border: 2px solid var(--black);
	box-shadow: 10px 2px 3px rgba(0, 0, 0, 0.1);
}
.container-header:hover {
	background-image: url('../../../../../assets/vorderrhein.svg');
	background-size: cover;
	transform: scale(1.1);
	box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
	/* opacity: 0.5; */
}

.container-header:hover::after {
	position: absolute;
	/* content: 'Add to Cart'; */
	font-size: 20px;
	font-weight: bold;
	background-color: rgb(206, 158, 54);
	top: 50%;
	left: 50%;
	transform: translate(-50%, 0);
}

.item-image {
	margin-top: -80px;
}

.container-info {
	display: grid;
	grid-template-rows: repeat(5, 1fr);
	height: 200px;
	padding: 10px;
	border-radius: 10px 10px 20px 20px;
	justify-items: center;
}
.name {
	font-size: 18px;
	font-weight: bold;
}
.price {
	margin-top: 10px;
	font-size: 16px;
	font-weight: 700;
	-top: 2px;
	display: flex;
	opacity: 0.9;
}
.description {
	opacity: 0.9;
	text-align: center;
	font-style: oblique;
}
.link {
	font-size: 10px;
	font-weight: 700;
}
.btn-add-to-cart {
}
.link:hover {
	color: rgb(241, 241, 241);
	text-shadow: 1px 1px rgba(12, 8, 8, 0.295);
}
.button {
	max-width: 270px;
	background: none;
	border: none;
}

@media (max-width: 760px) {
	.carousel {
		grid-template-columns: repeat(2, 1fr);
		justify-items: center;
	}
}
@media (max-width: 660px) {
	.carousel {
		grid-template-columns: repeat(1, 1fr);
		justify-items: center;
	}
}
