html,
body {
	margin: 0;
	padding: 0;
	color: var(--black);
	background-color: #f5f6f8;
}
*::-webkit-scrollbar {
	width: 15px;
}
*::-webkit-scrollbar-track {
	background: #05050518;
	border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
	background-color: #0f0e0f21;
	border-radius: 10px;
}
.not-found-page {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background-color: var(--back);
	text-align: center;
}
.not-found-page h1 {
	font-size: 40px;
}

.not-found-page a {
	font-size: 20px;
}
.not-found-page a:hover {
	color: var(--orange);
}
li {
	list-style-type: none;
}
a {
	text-decoration: none;
	color: inherit;
}

* {
	box-sizing: border-box;
}

:root {
	--black: #000000;
	--white: #f8f8f8;
	--orange: #f77f00;
	--gray: #969696;
	--primary: #c5c5c4;
	--back: #ffbe0b;
	--green: #0b1408;
	--green-light: rgb(138, 211, 148);
	--font-family: 'Poppins', sans-serif;
}
