html,
body {
	margin: 0;
	padding: 0;
	color: var(--black);
	background-color: #F5F6F8;
}

a {
	text-decoration: none;
	color: inherit;
}

* {
	box-sizing: border-box;
}

:root {
	--black: #2B2D42;
	--white: #FFF;
	--primary: #8D99AE;
	--primary-hover: #EDF2F4;
	--red: #D90429;
	--green: #34C565;
	--green-light: #A3E0B8;
	--font-family: "Poppins", sans-serif;
}
