html,
body {
	margin: 0;
	padding: 0;
	color: var(--black);
	background-color: #F5F6F8;
}

a {
	text-decoration: none;
	color: inherit;
}

* {
	box-sizing: border-box;
}

:root {
	--black: #302C2C;
	--white: #FFF;
	--primary: #E69271;
	--red: #971C1C;
	--green: #34C565;
	--green-light: #A3E0B8;
	--font-family: "Poppins", sans-serif;
}
