.container {
	padding: 20px 40px 20px 40px;
	height: 100%;
	display: grid;
	grid-template-columns: auto auto 1fr;
	align-items: center;
}
.logo {
	fill: var(--black);
}
.search {
	padding-left: 40px;
}
.navigation {
	padding-left: 40px;
	gap: 40px;
	display: flex;
	justify-content: space-evenly;
	font-size: 18px;
	font-weight: 500;
	align-items: center;
	color: var(--black);
}
